@model UserAPI.Models.NGUOIDUNG
@{
    ViewBag.Title = "UserDetail";
}

<h2>User Detail</h2><br />
Name: @Model.HOTEN <br />
Gender: @Model.GIOITINH <br />
Date of Birth: @Model.NGAYSINH <br />
Phone: @Model.SDT <br />
Address: @Model.DIACHI

